<!DOCTYPE html>
<html>

<head>

    <meta charset="UTF-8">
    <meta name="description" content="Секретная разработка">

    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body class="center">
    <!-- let's try make some magic -->
    <div>
        <div style="text-align: center;">
            <h2>Авторизация в УСУКО</ h2>
        </div>
        <%if (error) {%>
        <div style="text-align: center; color: red;">
            <h4><%=error%></h4>
        </div>
        <%}%>
        <form class="auth" action="/auth" method="post">
            <div class="container">
                <label for="uname"><b>Логин</b></label>
                <input type="text" placeholder="Введите логин" name="uname" required>
                <label for="pass"><b>Пароль</b></label>
                <input type="password" placeholder="Введите пароль" name="pass" required>
                <button type="submit"><b>Войти</b></button>
                <label>
                    <input type="checkbox" checked="checked" name="remember">Запомнить меня
                </label>
            </div>
        </form>
        <div style="text-align: center; padding: 5px; margin-top: 15px;">
            <a href="/">На главную</a>
        </div>
    </div>

</body>

</html>