<!DOCTYPE html>
<html>

<head>

    <meta charset="UTF-8">
    <meta name="description" content="Секретная разработка">

    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body id="top">
    <header class="header">
        <div id="center" style="font-size: 2.5em;">
            <%= title %>
        </div>
        <div id="right">
            <a href="/auth" id="login">Войти</a>
        </div>
    </header>

    <div id="body">
        <div style="align-items: flex-start; flex: 0 1 150px; display: flex;">
            <img src="/images/ultimate-shark.gif" style="margin-left:7.8%;">
            <div style="text-align: left; margin: auto; font-size: 2.7em; margin-left: 7%;">
                УСУКО это: <br>
                У - Усовершествованная<br>
                С - Система<br>
                У - Универсального<br>
                К - Контрольного<br>
                О - Оценивания<br>
            </div>
        </div>
    </div>


    <footer>
        <a href="/">УСУКО</a>
        &copy;
        2020 Евгений Бекалдиев
    </footer>
</body>

</html>