html {
    background-color: rgb(36, 41, 46);
    width: 100vw;
}

body {
    margin: 0;
    font: 14px "Courier New", Arial, sans-serif;
    color: lightgray;
}

body.center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

a {
    color: #00B7FF;
}

.header {
    text-align: center;
    position: relative;
    width: 100vw;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 1em;
}

.header div {
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 15px;
    padding-left: 15px;
}

.header #right {
    font: 20px Arial;
}

a#login {
    padding-top: 4px!important;
    padding-bottom: 4px!important;
    padding-right: 8px!important;
    padding-left: 8px!important;
    /* border: 1px solid black!important; */
    border-radius: 6px!important;
    /* border-color: black!important; */
    color: lightgray;
    background-image: linear-gradient(-180deg, rgb(83, 86, 89) 0%, rgb(66, 69, 73) 90%) !important;
    text-decoration: none;
}

#body {
    text-align: center;
    align-items: center;
}

footer {
    margin-top: 1em;
    padding-top: 1em;
    border-top: 1px solid #ccc;
    text-align: center;
    font-size: 1em;
    clear: both;
    height: 4em;
}

/* Bordered form */

form.auth {
    /* border: 3px solid #efefef; */
    background-color: rgb(49, 54, 63);
    border-radius: 5px;
}

/* Full-width inputs */

form.auth input[type=text], input[type=password] {
    background-image: linear-gradient(-180deg, rgb(83, 86, 89) 0%, rgb(66, 69, 73) 90%) !important;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    color: lightgray;
    display: inline-block;
    border: 1px solid rgb(41, 41, 41);
    box-sizing: border-box;
    border-radius: 5px;
}

/* Set a style for all buttons */

form.auth button {
    background-image: linear-gradient(-180deg, rgb(83, 86, 89) 0%, rgb(66, 69, 73) 90%) !important;
    color: lightgray;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
}

/* Add a hover effect for buttons */

form.auth button:hover {
    opacity: 0.8;
}

/* Extra style for the cancel button (red) */

form.auth .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Add padding to containers */

form.auth .container {
    padding: 16px;
    width: 400px;
}

/* The "Forgot password" text */

form.auth span.pass {
    float: right;
    padding-top: 16px;
}

@media screen and (max-width: 300px) {
    form.auth span.pass {
        display: block;
        float: none;
    }
    form.auth .cancelbtn {
        width: 100%;
    }
}

#body.adminlk {
    display: flex;
    justify-content: flex-start;
    min-height: 300px;
}

.actionlist {
    width: 15%;
    margin-left: 1%;
    min-height: 300px;
    border: 1px solid #ccc;
}

.actionlistitem {
    width: 100%;
    height: 50px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-bottom: 1px solid #ccc;
}

.actionlist a {
    text-decoration: none;
    color: lightgrey;
}

.actionfield {
    border: 1px solid #ccc;
    width: 83%;
    min-height: 300px;
}

.actionfield table {
    font-size: 18px;
}

.actionfield th, td {
    border: 0.5px solid #ccc
}

.actionfield td.forinput {
    padding: 0%;
}

.actionfield input.add, input.edit {
    background-image: linear-gradient(-180deg, rgb(83, 86, 89) 0%, rgb(66, 69, 73) 90%) !important;
    width: 100%;
    height: 53px;
    padding: 0%;
    font-size: 18px;
    /* margin: 8px 0; */
    color: lightgray;
    border: 1px solid rgb(41, 41, 41);
    box-sizing: border-box;
}